$backgraund-Clr: #eff6ff;
$textSample-Clr: #2a4a5c;
$facebookTtn-Clr: #255a9b;
$linkedinBtn-Clr: #0076b6;
$createBtn-Clr: #3698fb;
$firstShadeOfGay: #7b8a92;
$active-Clr: #3698fb;
$secondShadeOfGay: #afafaf;
$thirdShadeOfGay: #eee;
$mainBckgrn-Clr: #fff;

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Barlow Light";
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    background-color: $backgraund-Clr;
    color: $textSample-Clr;
}

a {
    text-decoration: none;
    color: white;
}

article {
    width: 70%;
    margin: 10vh auto 0;
    background-image: url(img/bg.jpg);
    background-size: contain;

    // border: 1px solid red;
}

aside {
    float: left;

    // border: 1px solid red;
}

aside img {
    margin: 20px;
    width: 110px;
}

main {
    width: 50%;
    height: 80vh;
    float: right;
    background-color: $mainBckgrn-Clr;

    // border: 1px solid red;
}

#auth {
    margin: 80px 60px;
}

h3 {
    margin: 20px 0 40px 0;
    font-size: medium;

    color: $firstShadeOfGay;
}


.gridThings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;

    margin-bottom: 40px;
}

#socButtons a {
    padding: 10px;
}

#socButtons span {
    font-size: 14px;
    vertical-align: 2px;
    color: $thirdShadeOfGay;
}

#socButtons img {
    width: 20px;
    margin-right: 15px;
}


#Facebook {
    background-color: $facebookTtn-Clr;
}

#Linkedin {
    background-color: $linkedinBtn-Clr;
}


#auth hr {
    width: 25vh;
    margin: 0 auto;
    color: $thirdShadeOfGay;
}

#auth > span {
    font-size: 14px;
    width: max-content;
    position: relative;
    left: 48%;
    top: -10px;
    padding: 0 5px;
    display: block;
    background-color: $mainBckgrn-Clr;
}

form {
    margin-top: 40px;
}

label[for="email"] {
    position: relative;

}

.textInput-field {
    margin-bottom: 1rem;
    background-clip: padding-box
}

.textInput {
    height: calc(2.25rem + 2px);
    border: 1px solid $thirdShadeOfGay;
    border-radius: 0 3px 3px 0;
}

.textInput:focus-visible {
    border: none;
    border-left: 1px solid $active-Clr;
    outline: none;
}



